<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bneumann.meisterlampe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="bneumann.meisterlampe.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bneumann.meisterlampe.ErrorView"
            android:exported="false"
            android:label="@string/title_activity_error_log"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="bneumann.meisterlampe.Settings"
            android:label="@string/title_activity_mlsettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.preference.PreferenceActivity" />
        </activity>
        <activity
            android:name="bneumann.meisterlampe.SweepEditor"
            android:exported="false"
            android:label="@string/title_activity_mlchannel_setup"
            android:theme="@style/ChannelSetup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="bneumann.meisterlampe.ChannelOverview"
            android:label="@string/title_activity_channel_overview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="bneumann.meisterlampe.SetupActivity"
            android:label="@string/title_activity_setup"
            android:parentActivityName="bneumann.meisterlampe.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bneumann.meisterlampe.MainActivity" />
        </activity>

        <service android:name="bneumann.meisterlampe.BluetoothService" />

        <activity
            android:name="bneumann.meisterlampe.FunctionActivity"
            android:label="@string/title_activity_function" >
        </activity>
        <activity
            android:name="bneumann.meisterlampe.LevelActivity"
            android:label="@string/title_activity_level" >
        </activity>
    </application>

</manifest>